body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* Warna latar belakang */
}

header {
    background-color: #003366; /* Biru gelap */
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
}

.navbar {
    display: flex;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 3px 0;
}

main {
    width: 100%;
    padding: 20px;
}

section {
    margin: 20px 0;
    padding: 20px;
    background-color: #e6f7ff; /* Biru muda */
    border: 1px solid #003366; /* Biru gelap */
}

@media (max-width: 768px) {
    .navbar {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .navbar.active {
        display: flex;
    }

    .menu-toggle {
        display: flex;
    }
}
